main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    background-color: #000000;
}

.menu-time, .menu-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.title-h2-red{
    color: #ff0000;
}
.title-h2-withe{
    color: #ffffff;
}
.menu-lives{
    display: flex;
    align-items: center;
    gap: 5px;
}
.img-player{
    width: 60px;
}
.panel{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square{
    height: 150px;
    width: 150px;
    border: 1px solid #000000;
    background-color: #7fffd4;
}
.enemy{
    background-image: url("../images/ralph.png");
    background-size: cover;
    cursor: pointer;
}